<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>LLM Tools</title>
    <link rel="shortcut icon" href="https://www.dfki.de/typo3conf/ext/wftmpl_dfki/Resources/Public/Images/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='script/controller.js') }}">
    </script>
</head>
<body>
    
    <!-- HTML comment -->
    <h1>
        LLM Tools
    </h1>

    <div class="topleft">
        <img src="https://www.dfki.de/fileadmin/user_upload/DFKI/Medien/Logos/Logos_DFKI/DFKI_Logo.png" >
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

     <table>
         <tr>
                 <td><textarea class="form" id="input_txt" placeholder="Please enter your text here ..."></textarea></td>
                 <td class="btn_grp">
                     <button class = "form" id="send_btn" onclick="sendData()"> SEND </button>
                     <button class = "form" id="clear_btn" onclick="clearData()"> CLEAR </button>
                 </td>
         </tr>
         
         <tr><td></td></tr> 
         <tr><td></td></tr>
         
         <tr>
             <td colspan="2" class="white-box" id="display_txt"> </td>
         </tr>
     </table>

    <div id="loader-container" class="loader-container">
        <div class = "loader"></div>
    </div>

    <br>

</body>
</html>